<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add new medicine</title>
</head>
<body>
<form action="#" role="form" enctype="multipart/form-data" class="form-horizontal" th:action="@{/medicine_save}" method="post">
    <p><b>Название лекарства:</b>
        <input type="text" name="medicineName" size="70" placeholder="Введите название лекарства">
    </p>
    <p><b>Цена:</b>
        <input type="text" name="price" size="70" placeholder="Введите цену">
    </p>
    <p><b>Страна производства:</b>
        <input type="text" name="country" size="70" placeholder="Введите страну производства">
    </p>

    <p><b>Тип:</b>
        <select id="type" name="type">
                <option th:each="type:${types}" th:value="${type.idType}" th:text="${type.typename}"></option>
        </select>
    </p>
    <input type="submit" class="btn btn-primary" value="Add">
</form>
<FORM><INPUT Type="button" VALUE="Back" onClick="history.go(-1);return true;"></FORM>
</body>
</html>