<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Добавление работника</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/main.css" th:href="@{main.css}">
</head>
<body class="other_back">
<div class="container top-buffer">
    <div class="row">
        <div class="col-md-12 head-block" ><img class = "img-header" src="/header_harold.jpg"
                                                th:src="@{/header_2.jpg}"/> </div>
        <h3 class="left_margin">Добавление работника</h3>
    </div>
    <div class="row">
        <form class="form-inline left_margin"  action ="#" role="form" enctype="multipart/form-data" th:action="@{/employer_save}" method="post">
            <table class="table">
                <tr>
                    <td><b>Имя работника:</b></td>
                    <td><input type="text" name="firstName" size="70" required placeholder="Введите имя работника"></td>
                </tr>
                <tr>
                    <td><b>Фамилия:</b></td>
                    <td><input type="text" name="secondName" size="70" required placeholder="Введите фамилию"></td>
                </tr>
                <tr>
                    <td><b>Отчество:</b></td>
                    <td><input type="text" name="patronymic" size="70" required  placeholder="Введите отчество"></td>
                </tr>
                <tr>
                    <td><b>ИНН:</b></td>
                    <td><input type="text" name="inn" size="70" required placeholder="Введите ИНН (12 цифр)" pattern="[0-9]{12}"></td>
                </tr>
                <tr>
                    <td><b>Серия паспорта:</b></td>
                    <td><input type="text" name="serialOfPassport" required size="70" placeholder="Введите серию паспорта (4 цифры)" pattern="[0-9]{4}"></td>
                </tr>
                <tr>
                    <td><b>Номер паспорта:</b></td>
                    <td><input type="text" name="numberOfPassport" required size="70" placeholder="Введите номер паспорта (6 цифр)" pattern="[0-9]{6}"></td>
                </tr>
                <tr>
                    <td><b>Адрес филиала:</b></td>
                    <td> <select id="branchAddress" name="branchAddress" class="left_margin">
                        <option th:each="brn: ${brns}" th:value="${brn.idBranch}" th:text="${brn.address}"></option>
                    </select></td>
                </tr>
                <tr>
                    <td><b>Должность:</b></td>
                    <td><select id="positionName" name="positionName" class="left_margin">
                        <option th:each="psn: ${psns}" th:value="${psn.idPosition}" th:text="${psn.positionname}"></option>
                    </select></td>
                </tr>
            </table>
            <input type="submit" class="btn btn-primary left_margin add-button-width" value="Сохранить">
            <INPUT Type="button" VALUE="Назад" class="btn btn-default left_margin add-button-width" onClick="history.go(-1);return true;">
        </form>
    </div>
</div>
</body>
</html>
