<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Medicines</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

</head>
<body>
<div class="container">
    <h3>Medicines List</h3>
    <form action="#" class="form-inline" role="form" th:action="@{/add_medicine}" method="post">
        <input type="submit" class="btn btn-default" value="Add new medicine">
    </form>
    <table class="table table-striped">
        <thead>
        <tr>
            <td><b>idMedicine</b></td>
            <td><b>Medicine Name</b></td>
            <td><b>Price</b></td>
            <td><b>Country</b></td>
            <td><b>Type</b></td>
        </tr>
        </thead>
            <tr th:each="mdn:${mdns}">
                <td th:text="${mdn.idMedicine}"></td>
                <td th:text="${mdn.medicinename}"></td>
                <td th:text="${mdn.price}"></td>
                <td th:text="${mdn.country}"></td>
                <td th:text="${mdn.type.typename}"></td>
            </tr>
    </table>
    <FORM><INPUT Type="button" VALUE="Back" onClick="history.go(-1);return true;"></FORM>


</div>
</body>
</html>