<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Branch-Providers</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script th:src="@{jquery.2.1.3.min.js}"></script>
    <script th:src="@{script.js}"></script>
</head>
<body>
<div class="container">
    <h3>Branch Providers List</h3>
    <span style="float:left;"><form action="#" class="form-inline" role="form" th:action="@{/add_branchProvider}" method="post">
        <input type="submit" class="btn btn-default" value="Add new branch provider">
    </form></span>
    <span style="float:left;">
            <input id="edit" class="btn btn-default" value="Edit Branch-Provider">
    </span>
     <span style="float:left;">
            <input id="delete" class="btn btn-default" value="Delete branch-provider">
    </span>
    <table class="table table-striped">
        <thead>
        <tr>
            <td><b>Choose</b></td>
            <td><b>Branch Address</b></td>
            <td><b>Provider Name</b></td>
            <td><b>Day of Bilievery</b></td>
        </tr>
        </thead>
            <tr th:each="bps:${bpds}">
                <td><input type="checkbox"
                           th:value="${bps.idBranch}+';'+${bps.idProvider}" th:checked="${false}" />
                </td>
                <td th:text="${bps.branch.address}"></td>
                <td th:text="${bps.provider.providername}"></td>
                <td th:text="${bps.dayOfBilevery}"></td>
            </tr>
    </table>
    <FORM><INPUT Type="button" VALUE="Back" onClick="history.go(-1);return true;"></FORM>


</div>
</body>
</html>