<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Редактирование поставки</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/main.css" th:href="@{main.css}">

</head>
<body class="other_back">
<div class="container top-buffer">
    <div class="row">
        <div class="col-md-12 head-block" ><img class = "img-header" src="/header_harold.jpg"
                                                th:src="@{/header_2.jpg}"/> </div>
        <h3 class="left_margin">Редактирование поставки</h3>
    </div>
    <div class="row">
        <form class="form-inline left_margin" action="#" role="form" enctype="multipart/form-data" th:action="@{/branchProvider_edit_save}" method="post">
            <input type ="hidden" name="editBranchId" th:value="${bpr.idBranch}">
            <input type ="hidden" name="editProviderId" th:value="${bpr.idProvider}">
            <table class="table">
                <tr>
                    <td><b>Адрес филиала:</b></td>
                    <td th:text="${brn.address}"></td>
                </tr>
                <tr>
                    <td><b>Поставщик:</b></td>
                    <td th:text="${prd.providername}"></td>
                </tr>
                <tr>
                    <td><b>День поставки:</b></td>
                    <td><select id="dayOfBilievery" name="dayOfBilievery">
                        <option th:each="bps:${bpss}" th:value="${bps}" th:text="${bps}" th:selected="${bps==bpr.dayOfBilevery}"></option>
                    </select></td>
                </tr>
            </table>
            <input type="submit" class="btn btn-primary left_margin add-button-width" value="Сохранить">
            <INPUT Type="button" VALUE="Назад" class="btn btn-default left_margin add-button-width" onClick="history.go(-1);return true;">
        </form>
    </div>
</div>
</body>
</html>